{
    "source": {
        "directories": [
            "src\/"
        ],
        "excludes": [
            "src\/EwalletDoctrineBridge\/Resources\/",
            "src\/EwalletModule\/Resources\/"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "humbuglog.txt"
    }
}
