<VirtualHost *:80>
  DocumentRoot "/usr/src/myapp/src/EwalletApplication/Bridges/Slim/Resources/web"
  SetEnv DOCTRINE_DEV_MODE {{ DOCTRINE_DEV_MODE }}
  SetEnv TWIG_DEBUG {{ TWIG_DEBUG }}
  SetEnv SMTP_HOST {{ SMTP_HOST }}
  SetEnv SMTP_PORT {{ SMTP_PORT }}
  SetEnv MYSQL_USER {{ MYSQL_USER }}
  SetEnv MYSQL_PASSWORD {{ MYSQL_PASSWORD }}
  SetEnv MYSQL_HOST {{ MYSQL_HOST }}
  <Directory "/usr/src/myapp/src/EwalletApplication/Bridges/Slim/Resources/web">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
  </Directory>
</VirtualHost>
