parameters:
   inferPrivatePropertyTypeFromConstructor: true
   level: 8
   paths:
      - 'src'
      - 'tests/src/Alice'
      - 'tests/src/Behat'
      - 'tests/src/DataBuilders'
      - 'tests/src/Doctrine'
      - 'tests/src/Fakes'
      - 'tests/src/PhpSpec'
      - 'tests/src/PHPUnit'
      - 'tests/src/RabbitMq'
      - 'tests/src/Setup'
   ignoreErrors:
      - '#Unable to resolve the template type T in call to method static method Doctrine\\DBAL\\DriverManager::getConnection\(\)#'
includes:
   - vendor/phpstan/phpstan-strict-rules/rules.neon
