parameters:
   inferPrivatePropertyTypeFromConstructor: true
   level: 8
   paths:
      - 'src'
   scanFiles:
      - var/container-development.php
includes:
   - vendor/phpstan/phpstan-strict-rules/rules.neon
